################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs

# Exclude accidential program files
*.exe

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack